html{
    font-size:62.5%;
    box-sizing:border-box;
}

body{
    font-size:1.6rem;
    font-display:swap;
    color:#300;
    margin:0;
    padding:0;
}

/*title.tsx*/
.title{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;

}


/*form.tsx*/
.form{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
    margin:20px;
}

.form-input{
    height:20px;
    border-radius: 60px;

}

.form-button {
    border:solid;
    border-radius: 60px;
    
}


/*Results.tsx*/

.results{
   border:1px solid black;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   height:160px;
   width:60%;

}


/*Favorites.tsx*/
.favorites{
    width:100px;
    height:200px;
    padding:20px;
    border:solid black;
    

}